#form-jurnal-entry .form-group.inline{
	display: inline-block;
	width: auto;
	vertical-align: middle;
	margin-right: 10px;
	margin-left	: 10px;
}
#form-jurnal-entry .row-transaction-detail:nth-child(1){
	margin-top: 20px;
}
#form-jurnal-entry .transaction-detail h4
{
	display: inline-block;
	margin: 7px 0 0 0;
}
#form-jurnal-entry .transaction-detail .input-group{
	width:200px;
}